@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap');

@import "tailwindcss";

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Optional: Add a subtle text shadow for better readability */
.text-white {
  text-shadow: 0 0 60px rgba(0,0,0,0.3);
}